@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-mobile: 320px;
  --breakpoint-table: 728px;
  --breakpoint-laptop: 1000px;
}

@custom-variant laptop (min-width: 1000px);

@media (max-width: 999px) {
  .hidden.laptop\:flex {
    display: none !important;
  }
}

@media (min-width: 1000px) {
  .laptop\:hidden {
    display: none !important;
  }
  .laptop\:flex {
    display: flex !important;
  }
  .laptop\:block {
    display: block !important;
  }
  .hidden.laptop\:flex {
    display: flex !important;
  }
  .filter-section {
    width: 230px !important;
    max-width: 230px !important;
    min-width: 230px !important;
  }
}

html.dark {
  background: #1d1f20;
  color: #fff;
  & input {
    color: #ffffff;
  }
  & input::placeholder {
    color: #a8a4a4;
  }
}

.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

.center {
  display: flex;
  align-items: center;
}

.title-line {
  position: relative;

  &:before {
    content: '';
    width: 200px;
    height: 3px;
    background-color: red;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    border-radius: 20px;
  }
}

.row-center {
  display: flex;
  align-items: center;
}

button {
  cursor: pointer;
  transition: 0.2s linear;
}
input {
  border: 1px solid #646464;
  border-radius: 10px;
  padding: 4px 6px;
}
