@import 'tailwindcss';

.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

.center {
  display: flex;
  align-items: center;
}

.title-line {
  position: relative;

  &:before {
    content: '';
    width: 200px;
    height: 3px;
    background-color: red;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    border-radius: 20px;
  }
}

.row-center {
  display: flex;
  align-items: center;
}

button {
  cursor: pointer;
  transition: 0.2s linear;
}
